<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration 
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="store.fnfm.vo.QaaVO" alias="qaaVo" />
		<typeAlias type="store.fnfm.vo.FaqVO" alias="faqVo" />
		<typeAlias type="store.fnfm.vo.NoticeVO" alias="noticeVo" />
	</typeAliases>
</configuration>